<div class="card flex justify-center">
   <p-accordion value="0">
        <p-accordion-panel value="0">
            <p-accordion-header>Desarrollo de Software a la Medida</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                    Consiste en crear programas diseñados específicamente para cubrir las necesidades particulares de una empresa o usuario, a diferencia de los productos genéricos. Permite mayor flexibilidad, integración con procesos internos y escalabilidad, aunque suele requerir más tiempo y costo en comparación con soluciones prediseñadas.
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1">
            <p-accordion-header>Desarrollo Movil</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                    
                    Se centra en la creación de aplicaciones para dispositivos móviles como smartphones y tablets. Puede hacerse de forma nativa (para Android o iOS), multiplataforma (con frameworks como Flutter o React Native) o web móvil. Este tipo de desarrollo busca optimizar la experiencia de usuario, el rendimiento y la usabilidad en pantallas pequeñas y con recursos limitados.
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="2">
            <p-accordion-header>Soporte a Aplicaciones</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                    Hace referencia al conjunto de actividades destinadas a garantizar el correcto funcionamiento del software después de su implementación. Incluye resolución de errores, actualizaciones, mejoras de rendimiento, seguridad y asistencia a los usuarios. Es clave para mantener la continuidad de los procesos de negocio y la satisfacción del cliente.
                </p>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</div>