<div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', height:'40rem', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="https://static.vecteezy.com/system/resources/previews/004/579/231/non_2x/it-support-and-application-maintenance-free-vector.jpg" width="100%"/>
        </ng-template>
        <ng-template #title> Soporte a Aplicaciones</ng-template>
        <ng-template #subtitle> 24 Horas </ng-template>
        <p>
            Hace referencia al conjunto de actividades destinadas a garantizar el correcto funcionamiento del software después de su implementación. Incluye resolución de errores, actualizaciones, mejoras de rendimiento, seguridad y asistencia a los usuarios. Es clave para mantener la continuidad de los procesos de negocio y la satisfacción del cliente.
        </p>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <p-button label="Conocer +" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>