<div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', height:'40rem', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="https://capgo.app/cross-platform-app-dev-2024.webp" width="100%"/>
        </ng-template>
        <ng-template #title> Desarrollo Movil </ng-template>
        <ng-template #subtitle> Tecnología al alcance </ng-template>
        <p>
            Se centra en la creación de aplicaciones para dispositivos móviles como smartphones y tablets. Puede hacerse de forma nativa (para Android o iOS), multiplataforma (con frameworks como Flutter o React Native) o web móvil. Este tipo de desarrollo busca optimizar la experiencia de usuario, el rendimiento y la usabilidad en pantallas pequeñas y con recursos limitados.
        </p>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <p-button label="Conocer +" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>